.centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    z-index: 2;
    
    &:nth-child(2) {
        animation: beeRotate 40s ease-in infinite normal forwards;
    }
}

.bee {
    position: relative;
    inset: 20vw 7vw;
    animation: hover 20s ease infinite normal forwards;
}

.bee__body {
    background-color: gold;
    aspect-ratio: 3/2;
    border-radius: 50%;
    border: 10px solid black;
    width: 300px;
    position: relative;
    z-index: 2;

    &::after {
        content: "";
        position: absolute;
        background-color: black;
        aspect-ratio: 3/2;
        border-top-left-radius: 100%;
        border-bottom-right-radius: 20%;
        width: 12%;
        inset: 45% -13%;
        rotate: -10deg;
    }


    &__stripes {
        background-color: black;
        position: absolute;
        height: 100%;
        width: 10%;
        right: 45%;

        &:nth-child(1) {
            right: 15%;
        }

        &:nth-child(2) {
            right: 65%;
            transform: rotatez(180deg);

            &::before {
                top: 1.5%;
            }
        }

        &:nth-child(1),
        &:nth-child(2) {
            top: 4%;
            height: 93%;
            border-radius: 0 10px 10px 0;
            border-radius: 60%;
            width: 20%;

            &::before {
                content: "";
                position: absolute;
                background-color: gold;
                width: 60%;
                height: 98%;
                border-radius: 100%;
                left: -5%;
            }
        }
    }
}

.bee__eyes {
    position: absolute;
    background-color: white;
    aspect-ratio: 2/3;
    height: 35%;
    border-radius: 50%;
    right: 0;
    top: 0;
    border: 4px solid black;
    rotate: 15deg;

    &.--right-eye {
        z-index: 3;
    }

    &.--right-eye::before {
        content: "";
        position: absolute;
        background-color: black;
        aspect-ratio: 3/4;
        border-radius: 50%;
        height: 50%;
        margin: 30% 50%;
    }

    &.--right-eye::after {
        content: "";
        position: absolute;
        background-color: white;
        aspect-ratio: 3/4;
        border-radius: 50%;
        height: 25%;
        margin: 30% 45%;
    }


    &:nth-child(2) {
        right: 10%;
        top: -5%;
        scale: .9;
        z-index: 1;
    }
}

.bee__wings {

    &__wing {
        position: absolute;
        background-color: #cee4ff;
        aspect-ratio: 4/7;
        height: 90%;
        top: -70%;
        left: 20%;
        border: 5px solid black;
        border-radius: 50%;
        rotate: 10deg;

        &::before,
        &::after {
            content: "";
            background-color: black;
            position: absolute;
        }

        &::before {
            height: 2px;
            width: 50%;
            border-radius: 50%;
            margin: 90% 27%;
        }

        &::after {
            height: 80%;
            width: 5px;
            margin: 50%;
            bottom: -30%;
            border-radius: 50% 50% 0 0;
        }

        &:nth-child(1) {
            rotate: -25deg;
            left: 25%;
            scale: .8;
            z-index: 1;
            animation: wingFlap 100ms linear 50ms infinite normal forwards;
        }

        &:nth-child(2) {
            z-index: 4;
            animation: wingFlap 100ms linear infinite normal forwards;
        }
    }
}

.bee__antena {
    position: absolute;
    background-color: transparent;
    height: 50%;
    aspect-ratio: 2 / 7;
    border: 1px solid black;
    border-width: 4px 0 0 4px;
    border-radius: 50%;
    transform: rotatex(20deg);
    left: 82%;
    top: -33%;
    rotate: 35deg;
    z-index: 3;

    &::after {
        content: "";
        position: absolute;
        background-color: black;
        aspect-ratio: 1;
        height: 30%;
        border-radius: 50%;
        inset: 0 45%;
    }

    &:nth-child(1) {
        left: 74%;
        rotate: 2deg;
        border-width: 4px 0 0 4px;

        &::after {
            scale: .7;
            inset: 2% 45%;
        }
    }
}

.background-bee {
    opacity: 0;
}


@keyframes beeRotate {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10%,
    90% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }
}

@keyframes wingFlap {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 25% 100%;
    }

    25%,
    75% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(-20deg);
    }
}

@keyframes hover {
    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(-2rem, -2rem);
    }

    20% {
        transform: translate(2rem, -2rem);
    }

    30% {
        transform: translate(-2rem, 2rem);
    }

    40% {
        transform: translate(2rem, 2rem);
    }

    50% {
        transform: translate(-2rem, -2rem);
    }

    60% {
        transform: translate(2rem, -2rem);
    }

    70% {
        transform: translate(-2rem, 2rem);
    }

    80% {
        transform: translate(-2rem, -2rem);
    }

    90% {
        transform: translate(2rem, -2rem);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(-300vw);
        opacity: 1;
    }

    100% {
        transform: translateX(600vw);
        opacity: 1;
    }
}