:root {
    --sky-color: #a3e5ff;
}

* {
    padding: 0;
    margin: 0;
}

.mainMenu-main {
    position: relative;
}

.container {
    overflow: hidden;
    background-color: var(--sky-color);
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.menu-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    z-index: 4;
}

.menu {
    display: flex;
    flex-direction: column;
    height: calc(100% - 6rem);
    border-right: 3px solid #51727F;
    color: white;

    &__title {
        font-size: calc(1rem + 1vw);
        padding: 2rem;
    }
    
    &__buttons,
    &__user-display {
        padding: 2rem;
        font-size: calc(.5rem + 1vw);
    }

    &__buttons {
        width: calc(100% - 4rem);
        transition: background-color .2s ease;

        &:hover {
            cursor: pointer;
            border-right: 3px solid white;
            box-shadow: -15px 0px 6px 6px rgba(0,0,0,0.1);
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    &__user-display {

        &__username {
            font-style: italic;
            font-weight: 700;
        }
    }
}

.--logout-button, .--login-button {
    margin-top: calc(100% - 2rem);
    position: absolute;
    bottom: 0;
}